/* Formatação Geral */
*{
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	background: url("imagens/fundo.png") repeat-x;
}

/* Barra principal */
#principal {
	border: 2px solid;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
	margin: 0 auto;
	width: 750px;
	
}

#logo {
	background: url(Imagens/logo.png) no-repeat;
	height: 66px;
	width: 152px;
	float: left;
	margin-top: 20px;
}

#brasil {
	background: url(imagens/detalhe-topo.png) no-repeat;
	width: 176px;
	height: 179px;
	float: right;
}

#navegacao {
	margin-top: 120px;
	background: #B00116;
	position: absolute;
}

ul#vertical {
	list-style-type: none;
}

#vertical li {
	float: left;
	line-height: 28px;
	padding-right: 10px;
	background: url(imagens/divisor.png) no-repeat left;
	text-align: center;
	padding: 8px 18px 8px 18px;
}

#vertical li a {
	color: white;
	text-decoration: none;
	text-transform: capitalize;
}

#vertical li a:hover {
	color: black;
}

#home .primeiro {
	background-image: none;
	background: #E90923;
}

/* Corpo do site */
#corpo {
	margin: 250px 0 auto 0;
}

#esquerda {
	width: 180px;
	background: url(imagens/fundo-caixa.png);
	float: left;
	margin-right: 20px;
}

#centro {
	width: 270px;
	float: left;
	background: url(imagens/fundo-caixa.png);
}


#direita {
	width: 270px;
	background: url(imagens/fundo-caixa.png);
	float: right;
}

h4 {
	background: #294c71;
	margin: 5px;
	padding: 4px;
	color: white;
}

.vinte {
	margin-top: 20px;
}

#lista, .lista {
	margin: 5px;
	padding: 4px;
	background: white;
}

#lista ul li {
	list-style: none;
	font-size: 14px;
	border-bottom: 1px solid #CACACA;
	margin: 2px;
}

#lista ul li a {
	text-decoration: none;
	color: #1C0808;
	display: block;
	line-height: 30px;
}

#lista ul li a:hover {
	color: #9B9A9A;
	padding-left: 20px;
	background: url(imagens/marcador.png) no-repeat left #EAEAEA;
}

li:hover {
	background: #EAEAEA;
	cursor: pointer;
}

label {
	cursor: pointer;
}

input[type="submit"] {
	background: #A00430;
	color: white;
	font-weight: bold;
	width: 80px;
	line-height: 30px;
	margin-top: 3px;
	cursor: pointer;
}

h5 {
	background: #B00116;
	color: white;
	padding: 2px 5px 2px 5px;
	line-height: 20px;
	display: inline;
	text-transform: uppercase;
}

.imagens {
	width: 100%;
	margin: 1px 0 3px 0;
	border: 2px solid #CACACA;
}

.imagem-menor {
	width: 30%;
	height: 100%
	margin: 5px;
	padding: 5px;
	display: inline;
}
.link-especial {
	color: #A00430;
	text-decoration: none;
}

.link-especial:hover {
	color: red;
}

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc; 
	height: 62px;
	list-style: none;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}

#lista-noticias li a {
	text-decoration: none;
}

#lista-noticias li a h3 {
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li a p {
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}

h6 {
	color: blue;
	font-size: 14px;
	margin: 5px 10px 2px 5px;
}

p {
	font-size: 11px;
	margin-left: 10px;
	padding: 10px;
}

/* Fim da página */
#fim {
	background: #294c71;
	padding: 20px;
}

#cabeçalho {
	text-align: center;
	width: 750px;
	margin: 0 auto;
	color: #fff;
}