/*Edurdo Di Nizo Nogueira Britto*/

body { background-image: url("imagens/fundo.png"); font-size: 16px; font-family: Arial, Helvetica, sans-serif;}
a {text-decoration: none; padding: 5px; color: #4b566a; font-weight: bold;}
h1 {font-size: 16px; color: #737272;}
p {font-style: italic;}

#primeira{width: 900px;}
#segunda{background: #D6D5D5; padding: 18px ;}
#terceira{padding: 10px; background: #e8e8d9;}
#direitos{font-weight: bold; text-align: center; padding: 10px; font-size: 14px;}
.fotos {border: #D6D5D5 solid 10px; }
